.Members {
  position: relative;
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  .Paper {
    position: relative;
    padding: 0 30px 10px 30px;;
    width: 100%;
    min-height: 700px;
    max-width: 1000px;
    height: fit-content;
    background: #1e1e1e;
    overflow: hidden;
  }
  h1{
    margin-top: 30px;
    position: relative;
    color: white;
    font-family: Roboto;
    margin-bottom: 5px;
  }
  .MembersContainer{
    margin-top: 50px;
    position: relative;
    padding: 10px 0;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .UserCard{
    margin: 15px;
    padding: 10px;
    position: relative;
    width: 200px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    background: #333333;
    transition: 0.2s;
  }

  .UserCard:hover{
    cursor: pointer;
    box-shadow:
            0 0 25px black,
            -5px 0 25px rgb(151,28,40),
            5px 0 25px rgba(92,40,133,1);
  }

  .ProfileImage {
    width: 100%;
    position: absolute;
    opacity: 0.3;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    height: auto;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
    transition: 0.5s;
  }

  .ProfileImage:hover{
    opacity: 1;
  }

  .CardTitle{
    position: relative;
    margin-top: 100px;
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .CardContent{
    position: relative;
    margin-top: 5px;
    font-size: 12px;
  }

  .CardButtonContainer{
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .TableUser{
    position: relative;
    float: left;
    width: 200px;
  }

  .ProfileAvatar{
    position: relative;
    width: 30px;
    height: auto;
  }

  .TableUserName{
    position: relative;
    margin-left: 40px;
    width: fit-content;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .Table{
    background: #333333;
  }

  .Input{
    position: relative;
    width: 150px;
    margin: 20px 0;
    float: right;
  }

  .online{
    color: white;
    box-shadow:
            inset 0 0 60px #101010,
            inset 20px 0 100px rgba(151,28,40,0.2),
            inset -20px 0 100px rgba(92,40,133,0.2),
            inset 20px 0 300px rgba(151,28,40,0.2),
            inset -20px 0 300px rgba(92,40,133,0.2),
            0 0 25px black,
            -5px 0 25px rgba(151,28,40,1),
            5px 0 25px rgba(92,40,133,1);
  }

  .SortByTitle{
    position: relative;
    float: left;
    margin-top: 30px;
    color: white;
    font-family: Roboto;
    margin-bottom: 5px;
  }
  .Text{
    background-color: #191919;
  }

  .SortContainer{
    margin-top: 130px;
    position: relative;
    width: 100%;
    height: fit-content;
    background: #2d0061;
  }

  #logoContainer{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 200px;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
  }

  #logo{
    position: absolute;
    top: -100px;
    right: -200px;
    height: 400px;
    width: 1050px;
    opacity: 0.1;
  }

}