.Home{
  position: relative;
  color: white;
  background: #191919;

  #logoContainer {
    margin-top: 100px;
    position: relative;
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-content: center;
  }

  #logo{
    height: 100%;
    width: auto;
  }

  .BannerContainer{
    margin-top: 100px;
    position: relative;
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-content: center;
  }
}