.NotAuthorised {
  position: relative;
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  .Paper{
    position: relative;
    padding: 30px 30px ;
    width: 100%;
    max-width: 600px;
    height: fit-content;
    background: #1e1e1e;
  }
  #iconContainer {
    position: relative;
    display: flex;
    width: 100%;
    max-height: 200px;
    justify-content: center;
    align-content: center;
  }
  #blockIcon{
    width: 70%;
    height: auto;
    color: white;
  }
  #textContainer{
    position: relative;
    text-align: center;
    width: 100%;
    height: fit-content;
    > * {
      margin-bottom: 20px;
    }
  }
}