
.App {
    position: relative;
    width: 100%;

    .Page{
        padding: 20px 0 60px;
        margin: auto;
        width: 90%;
        overflow: hidden;
    }

    .footer-padding {
        padding-bottom: 50px;
    }
}