
.App {
    position: relative;
    width: 100%;
    min-height: 100vh;

    .Background{
        position: absolute;
        top: 0;
        left: 0;
        height: 65%;
        width: 100%;
        overflow: hidden;
        border-bottom: 5px black solid;
    }

    .Overlay{
        position: absolute;
        height: 400%;
        width: 400%;
        mix-blend-mode: overlay;
        filter: saturate(200%);
        opacity: 0.6;
        background: linear-gradient(-45deg,  #2d0061, #620000, #8f4fc1, #971c28);
        animation: gradient 15s infinite;
    }

    @keyframes gradient {
        0% {
            top: 0;
            left: 0;
        }
        50% {
            top: -1000px;
            left: -1000px;
        }
        100% {
            top: 0;
            left: 0;
        }
    }


    .BgImage{
        position: absolute;
        top:0 ;
        left:0 ;
        height: 100%;
        width: 100%;
        filter: grayscale(100%);
        background: url("/assets/images/texture.jpg");
        background-size: 100% auto;
        opacity: 0.2;
    }

    .Page{
        position: relative;
        padding: 20px 0 20px 0;
        margin: auto;
        width: 90%;
    }

}