.Events{
  position: relative;
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  .Calendar{
    position: relative;
    min-height: 600px;
    margin-top: 40px;
    width: 100%;
    font-family: Roboto;
  }
  .Paper{
    position: relative;
    padding: 0 30px 50px 30px; ;
    width: 100%;
    max-width: 1000px;
    height: fit-content;
    background: #1e1e1e;
    overflow: hidden;
  }
  h1{
    position: relative;
    color: white;
    font-family: Roboto;
    margin-bottom: 5px;
  }
  .Body2{
    position: relative;
  }
  .Input{
    position: relative;
    width: 100%;
    margin: 20px 0;
  }
  .Text{
    background-color: #191919;
  }
  #buttonContainer{
    padding-top: 20px;
    position: relative;
    width: 100%;
    height: 55px;
  }
  Button{
    position: relative;
    float: right;
  }
  #logoContainer{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 200px;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
  }

  #logo{
    position: absolute;
    top: -100px;
    right: -200px;
    height: 400px;
    width: 100%;
    opacity: 0.1;
  }
}
#swal2-content {
  color: white !important;
  font-family: Roboto, serif;
}

#swal2-title {
  color: white !important;
  font-family: Roboto, serif;
}