.EventDetails{
  position: relative;
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  h1{
    z-index: 100;
  }
  .Paper{
    position: relative;
    padding: 0 30px 10px 30px; ;
    width: 100%;
    max-width: 700px;
    height: fit-content;
    background: #1e1e1e;
    overflow: hidden;
  }
  h4{
    margin-top: 350px;
    position: relative;
    color: white;
    font-family: Roboto;
  }
  .Text{
    background-color: #191919;
  }
  #buttonContainer{
    padding-top: 20px;
    position: relative;
    width: 100%;
    height: 55px;
  }
  Button{
    position: relative;
    float: right;
  }
  .Input{
    position: relative;
    width: 100%;
    margin: 20px 0;
  }
  .CenterContainer{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Creator{
    height: 100px;
    width: 100px;
    border: 3px solid white;
    :hover{
      cursor: pointer;
    }
  }
  .Center{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .AvatarContainer{
      position: relative;
      display: inline-block;
      grid-template-columns: 20% 20%;
      width: fit-content;
      height: fit-content;
      overflow: hidden;
      text-align: center;
      .Avatar{
        float: left;
        position: relative;
        margin: 10px;

      }
      .User{
        height: 70px;
        width: 70px;
        border: 3px solid white;
        :hover{
          cursor: pointer;
        }
      }
    }
  }
  .EventImage {
    width: 100%;
    position: absolute;
    opacity: 0.3;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    height: 400px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
    filter: grayscale(100%) blur(5px);
  }

  .EventMask {
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 100%;
    mix-blend-mode: overlay;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
    background: linear-gradient(139deg, rgba(151,28,40,1) 0%, rgba(92,40,133,1) 100%);
  }
  .EventContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .EventAvatar {
    position: relative;
    height: 200px;
    width: 200px;
    border: solid 3px white;
  }
}
#swal2-content {
  color: white !important;
  font-family: Roboto, serif;
}

#swal2-title {
  color: white !important;
  font-family: Roboto, serif;
}